<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data_braintree">
        <observer name="subscribepro_braintree_gateway_data_assign" instance="Swarming\SubscribeProBraintree\Observer\DataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_vault_braintree">
        <observer name="subscribepro_vault_braintree_gateway_data_assign" instance="Swarming\SubscribeProBraintree\Observer\Payment\TokenAssigner" />
    </event>
</config>
